@model RepairCompanyManagement.WebUI.Identity.User

<td> @Html.ActionLink("Update", "Update", "Users", new { id = Model.Id, }, new { @class = "btn btn-outline-primary" })</td>
<td> @Html.ActionLink("Delete", "Delete", "Users", new { id = Model.Id, }, new { @class = "btn btn-outline-danger" })</td>