@model (string, List<string>)

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Change role...
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var one in Model.Item2)
        {
            @Html.ActionLink("to " + one, "ChangeRole", new { id = Model.Item1, roleName = one }, new { @class = "dropdown-item" })
        }
    </div>
</div>

<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
