<ul class="navbar-nav mr-auto">
    <li class="nav-link text-dark">
        @Html.ActionLink("Specializations", "Index", "Specializations", null, new { @class = "nav-link"})
    </li>
</ul>
<form class="form-inline">
    <ul class="nav navbar-nav mt-2 mt-md-0">
        <li class="nav-link text-dark">
            @Html.ActionLink("Register", "Register", "Accounts", null, new { @class = "nav-link" })
        </li>
        <li class="nav-link text-dark">
            @Html.ActionLink("Login", "Login", "Accounts", null, new { @class = "nav-link" })
        </li>
    </ul>
</form>