<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
    <partial name="_LoginPartial" />
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            @Html.ActionLink("Specializations", "Index", "Specializations", null, new { @class = "nav-link text-dark" })
        </li>
        <li>
            @Html.ActionLink("JobPositions", "Index", "JobPositions", null, new { @class = "nav-link text-dark" })
        </li>
        <li>
            @Html.ActionLink("Brigades", "Index", "Brigades", null, new { @class = "nav-link text-dark" })
        </li>
    </ul>
</div>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <partial name="_LoginPartial" />
    <ul class="navbar-nav flex-grow-1">
        @Html.Partial("_LoginRegisterRightNavButtons")
    </ul>
</div>