<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
    <partial name="_LoginPartial" />
    <ul class="navbar-nav flex-grow-1">
        <li>
            @Html.ActionLink("Workloads", "Index", "Workloads", null, new { @class = "nav-link text-dark" })
        </li>
        
    </ul>

</div>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <partial name="_LoginPartial" />
    <ul class="navbar-nav flex-grow-1">
        @Html.Partial("_ProfileLogOutRightNavButtons")
    </ul>
</div>