<li class="nav-link text-dark">
    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link text-dark" })
</li>
<li class="nav-link text-dark">
    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link text-dark" })
</li>