@model RepairCompanyManagement.WebUI.Models.ErrorViewModel

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div role="alert" class="alert alert-danger">
        <h1><strong>Error!</strong></h1>
        <h4 id="errorMessage">@Model.ErrorMessage</h4>
    </div>
    </br>
    <div>
        @Html.ActionLink("Return", Model.RedirectionActionName, Model.RedirectionControllerName, Model.RedirectionRouteValues, htmlAttributes: new { @class = "btn btn-outline-secondary" })
    </div>
</body>
</html>
