@model IReadOnlyCollection<RepairCompanyManagement.WebUI.Models.BrigadeViewModel>
@{ ViewBag.Title = "Brigades";
    var anyBrigades = Model != null && Model.Any(); }

<h2>Brigades</h2>
<hr />
@Html.ActionLink("Create new...", "Create", "Brigades", null, new { @class = "btn btn-primary" })
<hr />
<table class="table">
    <tr>
        <th>Title</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @if (anyBrigades)
    {
        foreach (var item in Model)
        {
<tr>
    @Html.Partial("_BrigadesTableItem", item)
</tr>
 }
}
else
{
<tr>
    <td colspan="4" class="text-center">No Brigades</td>
</tr>
}
</table>
<br>