<h2>Reports</h2>

<table class="table">
    <tr>
        <th>Report for year</th>
        <th>Report for month</th>
    </tr>
    <tr>
        <th>@Html.ActionLink("Get report", "GetReportByOrdersInYear", "Reports", new { }, new { @class= "btn btn-outline-primary" })</th>
        <th>@Html.ActionLink("Get report", "SelectMonth", "Reports", new { }, new { @class= "btn btn-outline-primary" })</th>
    </tr>
</table>
<br> 