@model IReadOnlyCollection<RepairCompanyManagement.WebUI.Models.SpecializationViewModel>
@{
    ViewBag.Title = "Specializations";
    var anySpecializations = Model != null && Model.Any();
}

<h2>Specializations</h2>
<hr />
@Html.ActionLink("Create new...", "Create", "Specializations", null, new { @class = "btn btn-primary" })
<hr />
<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
    </tr>
    @if (anySpecializations)
    {
        foreach (var item in Model)
        {
            <tr>
                @Html.Partial("_SpecializationTableItem", item)
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4" class="text-center">No specializations</td>
        </tr>
    }
</table>
<br>