@model IReadOnlyCollection<RepairCompanyManagement.WebUI.Models.OrderViewModel>
@{ ViewBag.Title = "My Orders";
    var anyOrders = Model != null && Model.Any();
    var isManager = User.IsInRole("Manager");
    var columnsCount = 5;
    var isCustomer = User.IsInRole(RepairCompanyManagement.WebUI.Identity.IdentityConstants.CustomerRole);
    }

<h2>Orders</h2>
@if (isCustomer)
{
    @Html.ActionLink("Create new order", "Create", "Orders", null, new { @class = "btn btn-primary" })
}
<hr />
<table class="table">
    <tr>
        @if (isManager)
        {
        <th>Order Status</th>
        <th>Title</th>
        <th>Customers</th>
        <th>Requirements</th>
        <th></th>
        }
        else
        {
        <th>Status</th>
        <th>Title</th>
        <th>Price</th>
        <th>Requirements</th>
        <th></th>
        }
    </tr>
    @if (anyOrders)
    {
        foreach (var item in Model)
        {
        <tr>
            @if(isManager)
            {
                @Html.Partial("ManagerOrdersTableItem", item)
            }
            else
            {
                @Html.Partial("MyOrdersTableItem", item)
            }
        </tr> 
        }
    }
    else
    {
        <tr>
            <td colspan=@columnsCount class="text-center">No orders</td>
        </tr>
    }
</table>
<br>