@model RepairCompanyManagement.WebUI.Models.TaskDateViewModel
@{
    var orderSpecTaskModel = new RepairCompanyManagement.WebUI.Models.CalendarViewModel
    {
        OrderId = Model.OrderId,
        SpecId = Model.SpecializationId,
        TaskId = Model.TaskId
    };
}
@Html.HiddenFor(x => x.OrderId)
@Html.HiddenFor(x => x.SpecializationId)
<h2>Date for task</h2>
<hr />
<table>
    <tr>
        <th style="width:100px;text-align:center">Monday</th>
        <th style="width:100px;text-align:center">Tuesday</th>
        <th style="width:100px;text-align:center">Wednesday</th>
        <th style="width:100px;text-align:center">Thursday</th>
        <th style="width:100px;text-align:center">Friday</th>
        <th style="width:100px;text-align:center">Saturday</th>
        <th style="width:100px;text-align:center">Sunday</th>
    </tr>
    @foreach (var one in Model.AllowedDays)
    {
        <tr>
            @foreach (var item in one)
            {
                @Html.Partial("_CalendarTableItem", (item.Item2, orderSpecTaskModel, item.Item1))
            }
        </tr>
    }
</table>
<br>
@Html.ActionLink("Select other task type", "SelectTask", new { orderId = Model.OrderId, id = Model.SpecializationId }, new { @class = "btn btn-outline-secondary" })
